/* Import the font */
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
/* Apply the font to an element */
body {
  font-family: "Bad Script", cursive; /* Use Great Vibes font for body text */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffd3e0;
}

body {
  background-color: #ffd3e0;
}

.page {
  position: relative;
}

.date-title {
  text-align: center;
  padding: 1px;
  color: #b30015;
}

.photo {
  margin-bottom: 20px;
  text-align: center;
}

.frame {
  border: 10px solid #ffb6c1; /* Light gray border color */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  display: inline-block;
  padding: 20px; /* Increased inner padding */
  background-color: #fff8f0; /* Light gray background color */
  position: relative; /* Position relative for absolute positioning of pseudo-elements */
}

.frame img {
  display: block;
  max-width: 100%;
  height: auto;
}

.navigation {
  text-align: center;
  margin-top: 20px;
}

.navigation button {
  background-color: #8b0000;
  color: #fff;
  border: none;
  padding: 12px 24px; /* Increased padding */
  cursor: pointer;
  margin: 0 150px; /* Adjust margin to space the buttons apart */
  border-radius: 5px; /* Rounded corners */
  font-family: Arial, sans-serif; /* Change font family */
  font-size: 16px; /* Change font size */
  font-weight: bold; /* Make text bold */
  transition: background-color 0.3s ease; /* Smooth color transition */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.navigation button:hover {
  background-color: #660000;
}
